extends ../layout/default.pug 
include ../mixins/site-header.pug

block header 
    - const currentPage = 'room2';
    +mixinSiteHeader(currentPage) 

block content
    //-Titulo
    .container.title-container(id="title")
        h1 Welcome to the Room 2
    //-Sala
    section.section

block pageScripts 
    script(src="../js/home-animations.js")
    script(src="../js/index.js")
    script(src="../js/rooms.js")